/**
 * Name: Angelica Epshtein
 * File Created: 26/02/2026
 * Description: This is the CSS for my JavaScript assignment
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#splash-canvas {
    background-color: rgb(59, 73, 106);
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 244, 255);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(59, 73, 106);
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#header h1 {
    font-size: 225%;
    border-bottom: 2px solid rgb(59, 73, 106);
    padding-left: 5%;
    padding-right: 5%;
}

#row-1,
#row-2,
#row-3 {
    display: flex;
    margin: auto;
    justify-content: center;
    max-height: 30%;
}

.tile {
    padding: 10%;
    width: 20%;
    height: 10%;
    border: 1px solid rgb(225, 244, 255);
    background-color: rgb(157, 196, 219);
    display: flex;
    justify-content: center;
}

.tile p {
    z-index: 1;
    position: fixed;
    align-self: center;
    font-size: 200%;
    font-weight: bold;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    margin: 3%;
    background-color: rgb(189, 219, 240);
    border-radius: 10px;
}

.stat {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.stat h3 {
    font-weight: normal;
}

#scoreboard h1 {
    align-self: center;
    border-bottom: 2px solid rgb(59, 73, 106);
    padding-left: 5%;
    padding-right: 5%;
    font-size: 175%;
    margin-bottom: 1%;
}

input {
    width: 50%;
    align-self: center;
    margin: 3%;
    background-color: rgb(189, 219, 240);
    border-color: rgb(157, 196, 219);
    padding: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    border-radius: 10px;
    color: rgb(59, 73, 106);
    font-weight: bold;
}

#help-div {
    background-color: rgb(189, 219, 240);
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 95%;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(157, 196, 219);
    display: flex;
    flex-direction: column;
    /*visibility: hidden;*/
}

#help-div h1,
h4,
p {
    margin: 0.5%;
    margin-left: 3%;
    margin-right: 3%;
}

#help-div h1 {
    align-self: center;
    border-bottom: 2px solid rgb(59, 73, 106);
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
    padding-bottom: 1%;
    font-size: 200%;
}

#help-div p {
    background-color: rgb(225, 244, 255);
    padding: 3%;
    border-radius: 10px;
    font-size: 120%;
}

#help-div h4 {
    font-size: 130%;
    margin-bottom: 3%;
}

#help-div input {
    background-color: rgb(157, 196, 219);
}